/* // https://piccalil.li/blog/a-modern-css-reset */

:root {
  --clr-dark-blue: #032D60;
  --clr-light-blue: rgb(1, 118, 211);
  --clr-dark-footer: rgb(3, 46, 97);
  --clr-header-btn: #2e844a;

  --font-smallest: .75rem; /*12px */
  --font-smaller: .875rem; /*14px */
  --font-title: 3rem; 
  --font-title-small: 2rem;
  --font-medium: 1.25rem;  /*20px */
  --font-btn: 1rem;

  --font-title-line-height-large: 3rem;
  --font-title-line-height-small: 2.5rem;

  --margin-bottom-large: 2rem;
  --margin-bottom-medium: 1rem;
  --margin-bottom-small: 0.5rem;

  --line-height-small: 1rem;
  --line-height-medium: 2rem;
  --line-height-large: 3rem;

  --padding-section-large: 4rem;
  --padding-section-medium: 3rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styles */

li {
  list-style: none;
}

.header-top nav ul, .header-top, .header-top-right, .header-top-left{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.header-top-right {
  align-items: center;
}

.header-top {
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.header-top nav {
  display: flex;
  align-items: center;
}

.header-top nav ul {
  gap: 2rem;
}

.contact-us-txt {
  font-size: var(--font-smaller);
  text-align: center;
}

.header-top-left img {
  height: 90%;
}

button {
  background-color: var(--clr-light-blue);
  color: white;
  font-weight: 600;
  padding: .875rem;
}

button:nth-child(2) {
  background-color: white;
  color: var(--clr-light-blue);
  border: 1px solid var(--clr-light-blue);
  margin-left: 1.5rem;
}

.hero-2 button, .hero-4 button{
  background-color: white;
  color: var(--clr-light-blue);
  border: 1px solid var(--clr-light-blue);
}


header button {
  background-color: var(--clr-header-btn);
  display: flex;
  flex-shrink: 0;
  max-width: max-content;
  color: white;
  border-radius: 5px;
  font-size: var(--font-smaller);
  font-weight: 600;
  height: max-content;
  padding: .5rem;
}

nav ul li {
  letter-spacing: 0.04rem;
}

.header-bottom {
  font-size: var(--font-smallest);
  display: flex;
  gap: 5px;
  justify-content: center;
  color: white;
  background-color: var(--clr-dark-blue);
  padding: 0.75rem;
}

/* header section finish */

.container {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
  background-color:azure;
}


.title {
  font-size: var(--font-title-small);
  line-height: var(--font-title-line-height-small);
  font-weight: 900;
  margin-bottom: var(--margin-bottom-medium);
}

.hero-1 (top/bottom)
.hero-2 (bottom)
.hero-3 (top/bottom)
.hero-4 (bottom)
.hero-5 (top) /* above our technology helps*/
.hero-7 (top)



p[class='txt'] {
  margin-bottom: var(--margin-bottom-large);
}

.hero-1 .title {
  font-size: var(--font-title);
  line-height: var(--font-title-line-height-large);
  margin-bottom: var(--margin-bottom-large);
}

.hero-1 .container {
  display: flex;
}

.hero-1 .container .left {
  max-width: 50%;
  text-wrap: wrap;
}

.hero-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-2 .cards, .hero-4 .cards, .hero-5 .cards {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, clamp(150px, 250px, 300px));
  margin-bottom: var(--margin-bottom-large);
}

.hero-2 .card, .hero-4 .card, .hero-5 .card{
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: 200px;
}

.hero-2 .cards .card {
  text-align: left;
}

.hero-5 .mini-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
}

.hero-5 .card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: 100px;
}

.wide-card:nth-child(1) .container .left {
  width: 50%;
}

.hero-3, .hero-4, .hero-5, .hero-7, .hero-8, .wide-card-two{
  text-wrap: wrap;
  text-align: center;
}

.footer-1 .container, .footer-2 .container {
  display: flex;
}

.col-1, .col-2, .col-3, .col-4 {
  margin-right: auto;
}

.footer-2 .container {
  font-size: var(--font-smallest);
}

.footer-2, .footer-2 .container {
  color: white;
  background-color: var(--clr-dark-blue);
}




@media (max-width: 1280px) {
  .header-top-right button {
    font-size: var(--font-smallest);
  }

  .header-top-left nav, .header-top-right .contact-us-txt, .header-top-right p, .header-top-right .globe-logo {
    display: none;
  }
}

@media (max-width: 1020px) {
  .footer-1 {
    display: none;
  }
}