/* // https://piccalil.li/blog/a-modern-css-reset */

:root {
  --clr-dark-blue: #032D60;
  --clr-light-blue: rgb(1, 118, 211);
  --clr-dark-footer: rgb(3, 46, 97);
  --clr-header-btn: #2e844a;

  --font-smallest: .75rem; /*12px */
  --font-smaller: .875rem; /*14px */
  --font-title: 3rem; 
  --font-title-small: 2rem;
  --font-medium: 1.25rem;  /*20px */
  --font-btn: 1rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styles */

li {
  list-style: none;
}

.header-top nav ul, .header-top, .header-top-right, .header-top-left{
  display: flex;
  gap: 1rem;
}

.header-top-right {
  align-items: center;
}

.header-top {
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.header-top nav {
  display: flex;
  align-items: center;
}

.header-top nav ul {
  gap: 2rem;
}

.contact-us-txt {
  font-size: var(--font-smaller);
  text-align: center;
}

.header-top-left img {
  height: 90%;
}

/* #090738 */
header button {
  background-color: var(--clr-header-btn);
  display: flex;
  flex-shrink: 0;
  max-width: max-content;
  color: white;
  border-radius: 5px;
  font-size: var(--font-smaller);
  font-weight: 600;
  height: max-content;
  padding: .5rem;
}

nav ul li {
  letter-spacing: 0.04rem;
}

.header-bottom {
  font-size: var(--font-smallest);
  display: flex;
  gap: 5px;
  justify-content: center;
  color: white;
  background-color: var(--clr-dark-blue);
  padding: 0.75rem;
}



@media (max-width: 1280px) {
  .header-top-right button {
    font-size: var(--font-smallest);
  }

  .header-top-left nav, .header-top-right .contact-us-txt, .header-top-right p, .header-top-right .globe-logo {
    display: none;
  }
}

