html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* default styles above */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-and-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color:#5562e8;
}

header {
    display: flex;
    justify-content: center;
    width: 1200px;
    gap: 50px;
    height: 70px;
    align-items: center;
}

header .discord-logo img {
    height: 60px;
    width: auto;
}

header ul {
    color: white;
    font-weight: 700;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 40px;
}

header button {
    padding: 12px;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}

.hero {
    color: rgb(250, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 30px 100px;
    text-align: center;
    width: 850px;
    height: 70em;
}

.hero-left {
    position: absolute;
    left: -500px;
    bottom: 0;
}

.hero-right {
    position: absolute;
    right: -480px;
    bottom: 0;
}

.hero p:nth-child(1) {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    font-weight: 900;
}

.hero p:nth-child(2) {
    line-height: 1.5em;
    margin-top: 20px;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.hero .buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 25px;
    border: none;
}

.hero button:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero button:nth-child(2) {
    color: white;
    background-color: rgb(35, 32, 32);
}

/* hero ends here */

.invite-section {
    display: flex;
    padding: 200px;
    justify-content: center;
    gap: 100px;
}

.invite-left, .invite-right {
    width: 50%;
}

.invite-left {
    display: flex;
}

.invite-card-left {
    position: relative;
    height: 400px;
    width: 150px;
    background-color: #14131b;
    border-radius: 10px 0 0 10px;
}

.invite-card-right {
    height: 400px;
    width: 300px;
    background-color: #1b1b1c;
    border-radius: 0 10px 10px 0;
}

.invite-card-left p {
    text-wrap: nowrap;
    margin-top: 10px;
    position: relative;
    font-style: italic;
    left: -50px;
    border-radius: 5px;
    background-color: #1b1b1c;
    color: rgb(205, 201, 201);
    font-size: 1.3em;
    font-weight: 500;
    padding: 10px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.invite-card-left p:nth-child(2) {
    left: -100px;
    color: white;
}

.invite-card-right div {
    color: white;
    display: flex;
    align-items: center;
    padding: 6%;
    font-size: 12px;
}

.invite-card-right div:nth-child(1) {
    font-size: 1.3em;
    font-weight: 550;
}

.invite-card-right div .avatar {
    flex-shrink: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.invite-card-right div .avatar-description {
    display: block;
    padding: 0;
}

.invite-card-right div .avatar-description div {
    display: block;
    padding: 0;
}

.invite-card-right div .avatar-description .avatar-txt-top {
    display: flex;
    margin-bottom: 5px;
    font-size: 1.2em;
    gap: 3px;
}

.invite-card-right div .avatar-description .avatar-txt-top .avatar-title {
    color: #f5c453;
}

.invite-card-right div .avatar-description .avatar-txt-top .avatar-date {
    font-size: 10px;
    color: #777676;
}

.invite-right h1 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 25px;
}

.invite-right p {
    line-height: 1.5em;
    font-size: 1.3em;
}

.status-card-section {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 200px;
    background-color: beige;
}

.scs-left, .scs-right {
    width: 50%;
}

.status-card {
    height: 400px;
    width: 400px;
    background-color: #1b1b1c;
    border-radius: 5px;
    color: white;
    position: relative;
}

.scs-left h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 25px;
}


.scs-left p {
    line-height: 1.5em;
    font-size: 1.3em;
}

.towers {
    flex-shrink: 0;
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    max-width: max-content;
    position: relative;
    left: -70px;
    top: -25px;
    border-radius: 5px;
    background-color: #2e2e2f;
    color: #73c755;
    font-size: 1.3em;
    font-weight: 900;
    padding: 10px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.towers p {
    padding: 0;
    margin: 0;
}

.towers div {
    background-color: #73c755; 
    width: 3px;
    margin-right: 4px;
    align-self:flex-end;
}

.towers div:nth-child(1) {
    height: 7px;
}

.towers div:nth-child(2) {
    height: 12px;
}

.towers div:nth-child(3) {
    height: 17px;
}

footer {
    background-color: #333;
    padding: 100px 200px;
    color: white;
}

